:root {
    --lt-accent: #7B73FF;
    --accent: #1032E1;
    --base: #D2D6FF;
    --lt-primary: #D2D6FF;
    --primary: #001BA6;
    --dk-primary: #34333f;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: var(--base);
    line-height: 1.4;
  }
  nav, footer {
    background-color: var(--accent);
    color: var(--base);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  nav {
    justify-content: space-around;
  }
  nav a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav a:link, nav a:visited {
    color: var(--base);
  }
  nav a:hover, nav a:active {
    color: var(--lt-primary);
  }
  main {
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 12rem)
  }
  section {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-weight: 100;
    font-size: 4rem;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
  }
  h2 {
    font-weight: 400;
    font-size: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
  }
  h2 > span {
    font-weight: 800;
    color: var(--accent);
  }
  section a {
    display: block;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  section a:link, section a:visited {
    color: var(--accent);
  }
  section a:hover, section a:active {
    color: var(--lt-accent);
  }
  .text {
    text-align: left;
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
  width: 500px;
  height: 350px;
  }